@import '/src/assets/styles/variable';
@import '/src/assets/styles/mixin';

.task-form {
  @include card;
  padding: 1rem;

  &__header {
    text-align: center;
    margin-bottom: 1rem;
  }

  &__row {
    display: flex;
    margin: 0 -0.5rem;

    > div {
      flex-basis: 50%;
      margin: 0 0.5rem;
    }
  }

  &__group {
    margin-bottom: 1rem;
  }

  &__label {
    margin-bottom: 0 !important;
    font-weight: 500;
  }

  &__control {
    @include form-control;

    & ~ .error-message {
      display: none;
    }

    &.form-invalid {
      border-color: $color-danger;

      & ~ .error-message {
        display: block;
        font-size: 0.8rem;
        color: $color-danger;
      }
    }
  }

  &__button {
    @include card-action;
    background: $color-primary;
    width: 100%;
    display: block;
  }

  .date-picker {
    position: relative;

    &__toggle-button {
      position: absolute;
      right: 0.5rem;
      top: 50%;
      transform: translateY(-55%);
      border: none;
      background: transparent;
      padding: 0;

      & > img {
        width: 1.2rem;
      }
    }
  }
}
